body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #d5c2f1, #ffffff);
  font-family: 'Segoe UI', cursive;
  color: #4b006e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.inicio {
  text-align: center;
  margin-top: 20vh;
  animation: fadeIn 2s ease-in;
}

.inicio h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.inicio p {
  font-size: 1.2rem;
  color: #6d3b91;
}

.corazon {
  width: 120px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  animation: latido 1s infinite;
}
@media (max-width: 600px) {
  .mensaje {
    font-size: 1rem;
    padding: 10px;
  }

  .inicio h1 {
    font-size: 1.5rem;
  }

  .inicio p {
    font-size: 1rem;
  }

  .corazon {
    width: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}


@keyframes latido {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}


.mensaje {
  font-size: 1.3rem;
  text-align: center;
  padding: 20px;
  max-width: 900px;
  margin-top: 30px;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

.linea {
  margin-bottom: 20px;
  opacity: 0;
  animation: aparecer 1s ease forwards;
}

@keyframes aparecer {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.oculto {
  display: none;
}
